{% extends "base.html" %}

{% block head_title %} {{ post.title }} {% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <img src="{{ object.image }}" alt="{{ object.title }}" title="{{ object.title }}" width="300">
    <p>{{ object.body }}</p>
    <ul>
        <li>
            <strong>Username</strong> {{ object.user.username }}
        </li>
        <li>
            <strong>Category:</strong> {{ object.category.name }}
        </li>
        <li>
            <strong>Publication Date:</strong> {{ object.publication_date | date:"d/m/Y" }}
        </li>
    </ul>

{% endblock %}